h1 {
    background: aqua;
}
.paragraf-1 {
    background: palevioletred;
    font-size: 32pt;
    color :black;

}
.paragraf-2 {
    border: 10px solid yellow;
    border-radius: 5px;
    font-size: 24pt;
    margin-bottom: 60px;
    padding-bottom: 60px;
    padding-left: 20px; 
}
.paragraf-3 {
    font-weight: bold;
    font-size: 22px;
    font-family: Courier New ;
}
